.chat-page-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

.chat-page-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}
