.camera-widget {
  display: flex;
  flex-direction: column;
  gap: var(--g-spacing-4);
  width: 100%;
}

.camera-widget__header {
  display: flex;
  flex-direction: column;
  gap: var(--g-spacing-1);
}
