@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --base-bg: #f1f1f1;
}

:root {
  --color-background: var(--background);
  --base-bg: var(--base-bg);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --base-bg: #616161;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
}

/* Desktop layout with grid */
@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-areas: "nav main";
  }
  
  .navigation {
    grid-area: nav;
    margin: 12px;
    border-radius:  var(--g-spacing-4);
  }
  
  .main-content {
    grid-area: main;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
    box-sizing: border-box;
  }
}

/* Mobile styles - account for bottom navigation */
@media (max-width: 767px) {
  .main-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
    margin-bottom: 65px; /* Mobile navigation height */
    box-sizing: border-box;
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 48px); /* Account for padding */
  gap: 16px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.content-container {
  display: flex;
  flex-direction: column;
  /*align-items: flex-start;*/
  align-items: stretch;
  justify-content: center;
  gap: 24px;
  width: 100%;
  max-width: 968px;
  margin: 0 auto;
}

.text-container {
  max-width: 968px;
  text-align: left;
  width: 100%;
}

.home-title {
  display: ruby;
}

.infra-logo {
  margin: 0 8px;
  display: inline-block;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 24px;
}

.link-item {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--foreground);
}

.link-item:hover {
  text-decoration: underline;
}
